@model IEnumerable<ASP_MVC5_Project.Models.Auction>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Auctions";
}

@section Scripts {
    <!-- This content will be rendered in the Scripts section -->    
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model){
    @Html.Partial("_AuctionTile", item)
}
